<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Playlists</title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,900&display=swap" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <link rel="stylesheet" href="css/main.css" />
  <script defer src="index.js"></script>
  <script defer src="songs.component.js"></script>
</head>

<body ng-app="playlistsApp" ng-controller="playlistCtrl">
  <h1 class="title">My music</h1>

  <div class="all-lists">
    <h2 class="play-list-title">My playlists</h2>
    <ul class="play-lists">
      <li ng-repeat="(key, playlist) in playlists" class="list-name fadeIn" ng-model="selectedPlaylistId"
        ng-class="{'active-list':selectedPlaylistId==$index}"
        ng-click="setSelectedPlaylist($index);">
        {{playlist.name}}
  
        <songs class="play-list" songs="playlist" play-list-id="selectedPlaylistId" play-list-name="playlist.name"> </songs>
      </li>
    </ul>

    <div>
      <input type="text" class="new list" placeholder="new playlist" aria-label="new playlist" ng-model="newPlaylistName"
        ng-keypress="$event.keyCode == 13 ? addPlaylist() : null" />
      <button class="btn create" ng-click="addPlaylist()" aria-label="create new playlist">+</button>
    </div>
  </div>

</body>

</html>